<h1>New book</h1>

<%= form_for(@book) do |f| %>

  <p>Title</p>
  <%= f.text_field :title , class: "edit-title"%>

  <p>Body</p>
  <%= f.text_area :body, class: "edit-body"%>
  <br>
  <%= f.submit 'Create Book', class: "btn btn-primary" %>

<% end %>

